# Dependencies
node_modules/
package-lock.json
yarn.lock

# OS Files
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# Temp files
*.tmp
